@{
    ViewData["Title"] = "Sobre";
}
<h2>Sobre</h2>
<h3>API para teste Ploomes</h3>

<p>
    Este projeto foi criado com o intuito de resolver um problema dado pela Ploomes para 
    realização de seu processo seletivo para a vaga 
        <a href="https://ploomes.gupy.io/jobs/1125795" target="_blank">
            Desenvolvedor Back-End Júnior.
        </a>
    
</p>
<p>
    O teste tem tema livre, onde foi construído uma API em C# com acesso a um banco de dados SQL Server.
    Além disso, foi criado um serviço onde é possível armazenar e obter dado, onde utilizei HTTP e JSON.
    Foi utilizado o Microsoft Azure (dentro dos planos gratuitos) para hospedar a API e o Banco de Dados.
</p>
<p>
    É possível acessar o repositório deste projeto no <a href="https://github.com/elian-roventini/ploomes-api-produtos" target="_blank">
        Github
    </a> além de toda a documentação através do arquivo "ReadMe" armazenado em conjunto com o projeto.
</p>