@{
    ViewData["Title"] = "Contato";
}
<h2>Contato</h2>
<h3>Entre em contato comigo!</h3>

<address>
    Santos, SP<br />
    <abbr title="Phone">Celular:</abbr>
    (13) 99614-4813
</address>

<address>
    <strong>Email:</strong> <a href="mailto:roventini@unisantos.br">roventini@unisantos.br</a><br />
</address>
