@model AspCoreHttpTestJuniorElian.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar esse produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            Preço:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            Quantidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qtde)
        </dd>
        <dt>
            Valor total:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorEstoque)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoID" />
        <input type="submit" value="Deletar" class="btn btn-default" />
        <br />
        <br />
        <a asp-action="Index">Voltar</a>
    </form>
</div>
